.App {
  text-align: center;

}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  font-family: 'Patua One', cursive;
  background-color: #FFF9E4;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #87B4F3;
}

h1 {
  margin-top: 20px;
  margin-bottom: 20px;
  color: #d87e9f;
}

.btn-majin {
  color: #fff;
  background: #d87e9f;
}

.btn-majin:hover {
  color: #fff;
  background: #B54E74;
}

.App-link {
  color: #61dafb;
}

#tsparticles {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  overflow: hidden;
}

#content {
  z-index: 2;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.text-success {
  color: #34E252 !important;
}

.text-danger {
  color: #FC3A48 !important;
}